In [25]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import re
import string
from itertools import compress


from pylab import rcParams
import seaborn as sns

import os
#print(os.listdir("../input"))

In [26]:
df = pd.read_csv('mbti_1.csv')
df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [27]:
df['seperated_post'] = df['posts'].apply(lambda x: x.strip().split("|||"))
df['num_post'] = df['seperated_post'].apply(lambda x: len(x))
df['id'] = df.index
df.head()

,type,posts,seperated_post,num_post,id
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,"['http://www.youtube.com/watch?v=qsXHcwe3krw, ...",50,0
1,ENTP,'I'm finding the lack of me in these posts ver...,['I'm finding the lack of me in these posts ve...,50,1
2,INTP,'Good one _____ https://www.youtube.com/wat...,['Good one _____ https://www.youtube.com/wa...,50,2
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...","['Dear INTP, I enjoyed our conversation the ...",50,3
4,ENTJ,'You're fired.|||That's another silly misconce...,"['You're fired., That's another silly misconce...",50,4

In [28]:
expanded_df = pd.DataFrame(df['seperated_post'].tolist(), 
                           index=df['id']).stack().reset_index(level=1, drop=True).reset_index(name='idposts')
# expanded_df.head(10)

In [29]:
expanded_df=expanded_df.join(df.set_index('id'), on='id', how = 'left')
# expanded_df.head(10)

In [30]:
expanded_df=expanded_df.drop(columns=['posts','seperated_post','num_post'])
# expanded_df.head(10)

In [31]:
def clean_text(text):
    result = re.sub(r'http[^\s]*', '',text)
    result = re.sub('[0-9]+','', result).lower()
    result = re.sub('@[a-z0-9]+', 'user', result)
    return re.sub('[%s]*' % string.punctuation, '',result)

In [32]:
final_df = expanded_df.copy()
final_df['idposts'] = final_df['idposts'].apply(clean_text)
final_df.head()

   id                                            idposts  type
0   0                                                     INFJ
1   0                                                     INFJ
2   0  enfp and intj moments    sportscenter not top ...  INFJ
3   0  what has been the most lifechanging experience...  INFJ
4   0                        on repeat for most of today  INFJ

In [33]:
final_df.to_csv('data-cleaned.csv', index = False)

In [36]:
# Referring: https://www.kaggle.com/phuongpm/mbti-prediction/notebook

In [37]:
# This is a part of of the group project, no distributed. xiaoyuwang421@gmail.com